default_settings:
  INSTANCES: 10
  TIME_GAP_IN_INSTANCES: 30
  DEV_MODE: true
  HIT_GET_API: false
  BRIGHT_PROXIES: true
  Headless: true

network:
  admob:
    dev:
      GET_API: get_api_endpoint_for_get_ads
      S3_API: post_api_endpoint_for_post_screensorts
      INSERT_API: post_api_endpoint_for_post_payload
    prod:
      GET_API: get_api_endpoint_for_get_ads
      S3_API: post_api_endpoint_for_post_screensorts
      INSERT_API: post_api_endpoint_for_post_payload
