default_settings:
  INSTANCES: 10
  TIME_GAP_IN_INSTANCES: 30
  DEV_MODE: true
  HIT_GET_API: false
  BRIGHT_PROXIES: true
  Headless: true
  POST_OWNER: false

network:
  admob:
    dev:
      GET_API: /api/v1/admob/landers/get_ads_for_blackhat
      S3_API: /api/v1/admob/landers/upload_admob_blackhat
      INSERT_API: /api/v1/admob/landers/insert_html_content
    prod:
      GET_API: /api/v1/admob/landers/get_ads_for_blackhat
      S3_API: /api/v1/admob/landers/upload_admob_blackhat
      INSERT_API: /api/v1/admob/landers/insert_html_content
