default_settings:
  INSTANCES: 10
  TIME_GAP_IN_INSTANCES: 30
  DEV_MODE: true
  HIT_GET_API: false
  BRIGHT_PROXIES: true
  Headless: true

network:
  admob:
    dev:
      GET_API: ""
      S3_API: ""
      INSERT_API: ""
    prod:
      GET_API: ""
      S3_API: ""
      INSERT_API: ""
